{% extends 'base.html.twig' %}

{% block body %}
    <h1>SALUT SALUT LES {{ name }}</h1>
    <p>Pigeon1: ROU ROU ROU</p>
    <p>Pigeon2: ROU ROU ROU</p>
    <p>Pigeon3: ROU ROU ROU</p>
    <p>Pigeon4: ROU ROU ROU</p>
{% endblock %}